@import "./globalFonts.css";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

html,
body,
#content {
	width: 100%;
	height: 100%;
	min-height: 100vh;
}

#content {
	-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 2s; /* Firefox < 16 */
	-ms-animation: fadein 2s; /* Internet Explorer */
	-o-animation: fadein 2s; /* Opera < 12.1 */
	animation: fadein 2s;
}
/* #mainContainer {
	display: flex;
	flex: 1 1 auto;
	height: calc(100vh - 160px);
	align-items: center;
	justify-content: center;
} */

button {
	cursor: pointer;
}

header {
	display: flex;
	justify-content: center;
	/* text-align: center; */
	/* margin-top: 10px;
	margin-bottom: 5px; */
	flex: 1 1 160px;
	padding: 30px 20px 0;
	font-size: 100px;
	color: rgb(0, 81, 255);
	text-shadow: -1px 1px 2px rgb(197, 27, 4);
	font-family: "BebasNeue", cursive;
}

main {
	max-width: 1000px;
	margin: 0 auto;
	text-align: center;
	position: relative;
}

#shipsContainer {
	display: block;
	margin: 0 auto;
	margin-bottom: 20px;
}

#placeBoard,
#computerBoard {
	display: grid;
	grid-template-rows: repeat(11, 50px);
	grid-template-columns: repeat(11, 50px);
	width: fit-content;
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 20px;
	text-align: center;
	/* border-bottom: 1px solid black; */
	/* border-left: 1px solid black; */
}

#placeBoard {
	margin-top: 20px;
}

#playerBoard {
	display: grid;
	grid-template-rows: repeat(11, 25px);
	grid-template-columns: repeat(11, 25px);
	margin: 0 auto;
	text-align: center;
	position: absolute;
	top: -100px;
	left: -50px;
	width: fit-content;
	height: fit-content;
}

#battleship {
	background-color: purple;
	height: 199px;
	z-index: 98;
}

#carrier {
	background-color: aqua;
	height: 249px;
	z-index: 98;
}

#destroyer {
	background-color: rgb(13, 190, 13);
	height: 149px;
	z-index: 98;
}

#patrol {
	background-color: orange;
	height: 99px;
	z-index: 98;
}

#submarine {
	background-color: rgb(235, 220, 15);
	height: 149px;
	z-index: 98;
}

/* .Battleship,
.Carrier,
.Destroyer,
.Patrol,
.Submarine {
	height: 24px;
	width: 24px;
} */

.dropzone {
	/* z-index: 1; */
	text-align: center;
}

#buttonContainer {
	display: flex;
	justify-content: space-between;
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
	text-align: left;
	height: fit-content;
}

#shipsContainer {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
	padding-top: 0px;
	padding-bottom: 40px;
	padding-right: 10px;
	padding-left: 10px;
	box-sizing: border-box;
}

#playerContainer {
	width: fit-content;
}

.grid-item {
	width: 100%;
	border: 1px solid black;
}

.ship {
	/* z-index: 99; */
	height: 48px;
	width: 49px;
	margin: 0 auto;
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
	cursor: pointer;
}

.square {
	box-sizing: border-box;
	/* z-index: 1; */
	/* display: inline-block; */
	display: inline-grid;
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	width: 100%;
	border-top: 1px solid black;
	border-right: 1px solid black;
	/* border-top: 1px solid black;
	border-right: 1px solid black; */
}

.label-top,
.label-left,
.square {
	line-height: 3;
	text-align: center;
}

.label-top-mini,
.label-left-mini {
	line-height: 1.5;
	text-align: center;
}

.label-left,
.label-left-mini {
	/* border-left: none; */
	border-top: none;
	border-left: none;
	border-bottom: none;
	/* background-color: white; */
}

.label-top,
.label-top-mini {
	border-right: none;
	border-top: none;
	/* background-color: white; */
}

#ready {
	float: right;
}

.hide {
	visibility: hidden;
}

.hidden {
	display: none;
}

.blur {
	-webkit-filter: blur(5px);
	filter: blur(5px);
}

.miss {
	color: blue;
}

.hit {
	color: red;
}

.sunk {
	color: orangered;
}

/* .game-tile {
	line-height: 1.5;
}

.Battleship {
	background-color: purple;
}

.Carrier {
	background-color: aqua;
}

.Destroyer {
	background-color: rgb(13, 190, 13);
}

.Patrol {
	background-color: orange;
}

.Submarine {
	background-color: rgb(235, 220, 15);
} */

#btnContainer {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#startBtn {
	/* line-height: 32px;
	height: 34px; */
	border: 2px solid rgb(0, 81, 255);
	line-height: 38px;
	height: 40px;
	width: 150px;
	font-size: 16px;
	border-radius: 3.5px;
	font-family: "RussoOne", sans-serif;
	color: rgb(61, 59, 59);
	background-color: white;
	padding-top: 0px;
	padding-bottom: 0px;
}

#startBtn:hover {
	background-color: rgb(0, 81, 255);
	color: white;
}

#rotate,
#ready {
	/* line-height: 30px;
	height: 33px; */
	line-height: 36px;
	height: 40px;
	width: 150px;
	font-size: 16px;
	border: 2px solid rgb(0, 81, 255);
	/* font-size: 13px; */
	border-radius: 3.5px;
	font-family: "RussoOne", sans-serif;
	color: rgb(61, 59, 59);
	background-color: white;
	outline: none;
}

#rotate:hover {
	color: white;
	background-color: rgb(0, 81, 255);
}

#ready {
	border: 2px solid rgb(58, 214, 58);
	width: 125px;
}

#ready:hover {
	color: white;
	background-color: rgb(58, 214, 58);
}

#toast {
	width: fit-content;
	font-family: "RussoOne", sans-serif;
	margin: 0 auto;
	margin-top: 20px;
}

#errorMsg {
	display: none;
	position: absolute;
	border: 2px solid black;
	font-family: "RussoOne", sans-serif;
	z-index: 99;
	border: 2px solid rgb(197, 27, 4);
	border-radius: 4px;
	padding: 5px;
	width: fit-content;
	top: 40%;
	left: 50%;
	transform: translateY(-40%);
	transform: translateX(-50%);
	text-align: center;
	background-color: rgb(247, 244, 244);
}

#ok {
	bottom: 10px;
	z-index: 99;
	margin: 0 auto;
	display: block;
	border: 2px solid rgb(58, 214, 58);
	background-color: rgb(58, 214, 58);
	color: whitesmoke;
	font-size: 13px;
	border-radius: 3.5px;
	font-family: "RussoOne", sans-serif;
}

p {
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 30px;
}

#drag {
	margin: 0;
	line-height: 39px;
	font-family: "RussoOne", sans-serif;
	font-size: 13px;
}

#computerBoard {
	padding-bottom: 20px;
	cursor: pointer;
}

.dropzone:nth-of-type(112),
.dropzone:nth-of-type(113),
.dropzone:nth-of-type(114),
.dropzone:nth-of-type(115),
.dropzone:nth-of-type(116),
.dropzone:nth-of-type(117),
.dropzone:nth-of-type(118),
.dropzone:nth-of-type(119),
.dropzone:nth-of-type(120),
.dropzone:nth-of-type(121) {
	border-bottom: 1px solid black;
	height: 51px;
}

.game-tile:nth-of-type(112),
.game-tile:nth-of-type(113),
.game-tile:nth-of-type(114),
.game-tile:nth-of-type(115),
.game-tile:nth-of-type(116),
.game-tile:nth-of-type(117),
.game-tile:nth-of-type(118),
.game-tile:nth-of-type(119),
.game-tile:nth-of-type(120),
.game-tile:nth-of-type(121) {
	border-bottom: 1px solid black;
}

.game-tile {
	line-height: 1.5;
	/* box-sizing: border-box; */
}

.Battleship {
	background-color: purple;
}

.Carrier {
	background-color: aqua;
}

.Destroyer {
	background-color: rgb(13, 190, 13);
}

.Patrol {
	background-color: orange;
}

.Submarine {
	background-color: rgb(235, 220, 15);
}

.Battleship,
.Carrier,
.Destroyer,
.Patrol,
.Submarine {
	height: 25px;
	width: 25px;
}

/* .dropzone {
	z-index: 8000;
}
.square {
	z-index: 8000;
} */

.ship {
	z-index: 98;
}

.bottom {
	border-bottom: 1px solid black;
}

.game:nth-of-type(112) {
	border-bottom: 1px solid black;
}

@media screen and (max-width: 1200px) {
	#computerContainer {
		margin: 0 auto;
	}

	#toast {
		margin-bottom: 20px;
	}
	/* #playerContainer {
		margin: 0 auto;
	} */
	#playerBoard {
		margin-top: 40px;
		position: relative;
		top: 0;
		left: 0;
	}
	#computerBoard {
		margin: 0 auto;
	}
}

@media screen and (max-width: 610px) {
	#errorMsg {
		top: 20%;
	}
	header {
		font-size: 80px;
	}

	#shipsContainer {
		padding-bottom: 75px;
	}

	#placeBoard {
		grid-template-rows: repeat(11, 25px);
		grid-template-columns: repeat(11, 25px);
		margin: 0 auto;
		height: 100%;
	}
	.square {
		line-height: 1.5;
		height: 100%;
	}
	.ship {
		width: 24px;
	}
	#battleship {
		height: 99px;
	}
	#carrier {
		height: 124px;
	}
	#destroyer {
		height: 74px;
	}
	#patrol {
		height: 49px;
	}
	#submarine {
		height: 74px;
	}
	#buttonContainer {
		margin-top: 15px;
		margin-bottom: 0px;
	}
	#drag {
		width: 100%;
		bottom: 0;
		left: 50%;
		position: absolute;
		transform: translateX(-50%);
		text-align: center;
		/* top:100%; */
		/* transform: translateY(-100%); */
		/* padding-top: 40px; */
	}
	#computerBoard {
		grid-template-rows: repeat(11, 25px);
		grid-template-columns: repeat(11, 25px);
		margin: 0 auto;
		/* position: absolute;
		left: 50%;
		transform: translateX(-50%); */
	}
	/* #playerBoard {
		/* width: fit-content; */
	/* left: 50%;
		transform: translateX(-50%);
		margin: 0 auto; */
	/* } */
	.label-top,
	.label-left {
		line-height: 1.5;
		text-align: center;
	}

	.dropzone:nth-of-type(112),
	.dropzone:nth-of-type(113),
	.dropzone:nth-of-type(114),
	.dropzone:nth-of-type(115),
	.dropzone:nth-of-type(116),
	.dropzone:nth-of-type(117),
	.dropzone:nth-of-type(118),
	.dropzone:nth-of-type(119),
	.dropzone:nth-of-type(120),
	.dropzone:nth-of-type(121) {
		border-bottom: 1px solid black;
		height: 26px;
	}
}

@media screen and (max-width: 360px) {
	header {
		font-size: 70px;
		padding-left: 0;
		padding-right: 0;
	}
}

@media screen and (max-width: 320px) {
	#drag {
		top: 100%;
		line-height: 1.5;
	}
	#shipsContainer {
		margin-bottom: 0;
		/* padding-bottom: 0; */
	}
	header {
		margin-bottom: 0px;
		font-size: 60px;
	}

	#buttonContainer {
		flex-wrap: wrap;
		justify-content: center;
	}

	#rotate {
		margin-bottom: 10px;
	}
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* Firefox < 16 */
@-moz-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* Internet Explorer */
@-ms-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* Opera < 12.1 */
@-o-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
