html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

html, body, #content {
    width: 100%;
}

header{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 100px;
    color: rgb(0, 81, 255);
    text-shadow: -1px 1px 2px rgb(197, 27, 4);
    font-family: 'Bebas Neue', cursive;
}

main {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

#shipsContainer {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}

#placeBoard, #computerBoard {
    display: grid;
    grid-template-rows: repeat(11, 50px);
    grid-template-columns: repeat(11, 50px);
    width: fit-content;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
}

#placeBoard {
    margin-top: 20px;
}

#playerBoard {
    display: grid;
    grid-template-rows: repeat(11, 25px);
    grid-template-columns: repeat(11, 25px);
    margin: 0 auto;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
}

#battleship {
    background-color: purple;
    height: 200px;
    z-index: 99;
}

#carrier {
    background-color: aqua;
    height: 250px;
}

#destroyer {
    background-color: rgb(13, 190, 13);
    height: 150px;

}

#patrol {
    background-color: orange;
    height: 100px;
} 

#submarine {
    background-color: rgb(235, 220, 15);
    height: 150px;
}

.Battleship, .Carrier, .Destroyer, .Patrol, .Submarine {
    height: 24px;
    width: 25px;
}

.dropzone {
   text-align: center;
}

#buttonContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    text-align: left;
    height: fit-content;
}

#shipsContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 20px;
}

#playerContainer {
    width: fit-content;
}

.grid-item {
    width: 100%;
    border: 1px solid black;
}

.ship {
    z-index: 9;
    height: 48px;
    width: 50px;
    margin: 0 auto;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.square {
    display: inline-block; 
     -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
     -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none; 
    width: 100%;
    border: 1px solid black;
}

.label-top, .label-left, .square {
    line-height: 3;
    text-align: center;
}

.label-top-mini, .label-left-mini {
    line-height: 1.5;
    text-align: center;
}

 .label-left, .label-left-mini {
    border-left: none;
    background-color: white;
}

.label-top, .label-top-mini {
    border-top: none;
    background-color: white;
}

#ready {
    float: right;
}

.hide {
    visibility: hidden;
}

.hidden {
    display: none;
}

.blur{
    -webkit-filter: blur(5px); 
    filter: blur(5px); 
}

.miss{
    color: blue;
}

.hit {
    color: red;
}

.sunk {
    color: orangered;
}

.game-tile{
    line-height: 1.5;
}

.Battleship {
    background-color:purple;
}

.Carrier {
    background-color: aqua;
}

.Destroyer{
    background-color:rgb(13, 190, 13);
}

.Patrol {
    background-color:orange;
}

.Submarine {
    background-color:rgb(235, 220, 15);
}

#btnContainer {
    text-align: center;
    margin-bottom: 0px;
    margin-top: 15%;
}

#startBtn{
    line-height: 32px;
    height: 34px;
    border: 2px solid rgb(0, 81, 255); 
    font-size: 13px;
    border-radius: 3.5px;
    font-family: 'Russo One', sans-serif;
    color: rgb(61, 59, 59);
    background-color: white;
    padding-top: 0px;
    padding-bottom: 0px;
}

#rotate, #ready {
    line-height: 30px;
    height: 33px;
    border: 2px solid rgb(0, 81, 255); 
    font-size: 13px;
    border-radius: 3.5px;
    font-family: 'Russo One', sans-serif;
    color: rgb(61, 59, 59);
    background-color: white;
}

#ready {
    border: 2px solid rgb(58, 214, 58); 
}

#toast{
    width: fit-content;
    font-family: 'Russo One', sans-serif;
    margin: 0 auto;
    margin-top: 20px;
}

#errorMsg {
    display: none;
    position: absolute;
    border: 2px solid black;
    font-family: 'Russo One', sans-serif; 
    z-index: 100;
    border: 2px solid rgb(197, 27, 4);; 
    border-radius: 4px;
    padding: 5px;
    width: fit-content;
    top: 40%;
    left: 50%;
    transform: translateY(-40%);
    transform: translateX(-50%);
    text-align: center;
    background-color: rgb(247, 244, 244);
}

#ok {
    bottom: 10px;
    z-index: 99;
    margin: 0 auto;
    display: block;
    border: 2px solid rgb(58, 214, 58); 
    background-color: rgb(58, 214, 58);
    color: whitesmoke;
    font-size: 13px;
    border-radius: 3.5px;
    font-family: 'Russo One', sans-serif;
}

p {
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

#drag {
    margin: 0;
    line-height: 39px;
    font-family: 'Russo One', sans-serif;
    font-size: 13px;
}

#computerBoard {
    padding-bottom: 20px;
}

@media screen and (max-width: 1200px) {
    #computerContainer{
        margin: 0 auto;
    }

    #toast {
        margin-bottom: 20px;
    }
    #playerContainer {
        margin: 0 auto;
    }
    #playerBoard {
        position: relative;
        
    }
    #computerBoard {
        margin: 0 auto;;
    }
}

@media screen and (max-width: 610px){
    #placeBoard {
        grid-template-rows: repeat(11, 25px);
        grid-template-columns: repeat(11, 25px);
        margin: 0 auto;
        height: 100%;
    }
    .square {
        line-height: 1.5;
        height: 100%;
    }
    .ship {
        width: 25px;
    }
    #battleship {
        height: 100px;
    }
    #carrier {
        height: 125px;
    }
    #destroyer {
        height: 75px;
    }
    #patrol {
        height: 50px;
    } 
    #submarine {
        height: 75px;
    }
    #buttonContainer {
        margin-top: 15px;
        margin-bottom: 0px;
    }
    #drag {
        width: 100%;
        bottom: 0;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        text-align: center;
    }
}   

@media screen and (max-width: 610px) {
    #computerBoard {
        grid-template-rows: repeat(11, 25px);
        grid-template-columns: repeat(11, 25px);
        margin: 0 auto;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    #playerBoard {
        left: 50%;
        transform: translateX(-50%);
    }
    .label-top, .label-left {
        line-height: 1.5;
        text-align: center;
    }
    .square {
        line-height: 1.5;
    }
}   